
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mallas Electricas</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        #bg_malla {
            background-image: url('../../Resources/bg_malla_crop.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            min-height: 300px;
        }
        div{
            text-align: center;
        }
        .flex {
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center; /* align vertical */
        }
        p{
            display: none;
        }
        .show{
            display: initial !important;

        }
    </style>
</head>
<body>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <p>R1</p>
                <div class="form-group  col-md-offset-3">
                    <label class="col-form-label">::R1::</label>
                    <div class="col-md-10 col-md-offset-1 input-group">
                        <input type="number" value="" class="form-control" id="r1" placeholder="R1" />
                        <span class="input-group-addon">
                            <select class="" id="r1-unidad">
                                <option selected value="1">Ω</option>
                                <option value="1000">kΩ</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <p>R2</p>
                <div class="form-group  col-md-offset-3">
                    <label class="col-form-label">::R2::</label>
                    <div class="col-md-10 col-md-offset-1 input-group">
                        <input type="number" value="" class="form-control" id="r2" placeholder="R2" />
                        <span class="input-group-addon">
                            <select class="" id="r2-unidad">
                                <option selected value="1">Ω</option>
                                <option value="1000">kΩ</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <p>R5</p>
                <div class="form-group col-md-offset-3">
                    <label class="col-form-label">::R5::</label>
                    <div class="col-md-10 col-md-offset-1 input-group">
                        <input type="number" value="" class="form-control" id="r5" placeholder="R5" />
                        <span class="input-group-addon">
                            <select class="" id="r5-unidad">
                                <option selected value="1">Ω</option>
                                <option value="1000">kΩ</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row flex">
            <div class="col-md-2">
                <button class="btn btn-lg btn-primary" id="submitForm">Calcular</button>
            </div>
            <div class="col-md-2">
                <p>V1</p>
                <div class="form-group  col-md-offset-3">
                    <label class="col-form-label">::V1::</label>
                    <div class="input-group col-md-10 col-md-offset-1">
                        <input type="number" value="" class="form-control" id="v1" placeholder="V1" />
                        <span class="input-group-addon" id="basic-addon2">V</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 flex" id="bg_malla">
                <div class="col-md-4">
                    <p>R3</p>
                    <div class="form-group col-md-offset-3">
                        <label class="col-form-label">::R3::</label>
                        <div class="col-md-10 col-md-offset-3 input-group">
                            <input type="number" value="" class="form-control" id="r3" placeholder="R3" />
                            <span class="input-group-addon">
                                <select class="" id="r3-unidad">
                                    <option selected value="1">Ω</option>
                                    <option value="1000">kΩ</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>R4</p>
                    <div class="form-group col-md-offset-3">
                        <label class="col-form-label">::R4::</label>
                        <div class="col-md-10 input-group">
                            <input type="number" value="" class="form-control" id="r4" placeholder="R4" />
                            <span class="input-group-addon">
                                <select class="" id="r4-unidad">
                                    <option selected value="1">Ω</option>
                                    <option value="1000">kΩ</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-2">
                <p>V3</p>
                <div class="form-group col-md-8">
                    <label class="col-form-label">::V3::</label>
                    <div class="input-group">
                        <input type="number" value="" class="form-control" id="v3" placeholder="V3" />
                        <span class="input-group-addon" id="basic-addon2">V</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <p>R7</p>
                <div class="form-group  col-md-offset-3">
                    <label class="col-form-label">::R7::</label>
                    <div class="col-md-10 col-md-offset-1 input-group">
                        <input type="number" value="" class="form-control" id="r7" placeholder="R7" />
                        <span class="input-group-addon">
                            <select class="" id="r7-unidad">
                                <option selected value="1">Ω</option>
                                <option value="1000">kΩ</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <p>V2</p>
                <div class="form-group col-md-offset-3">
                    <label class="col-form-label">::V2::</label>
                    <div class="input-group col-md-10 col-md-offset-1">
                        <input type="number" value="" class="form-control" id="v2" placeholder="V2" />
                        <span class="input-group-addon" id="basic-addon2">V</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <p>R6</p>
                <div class="form-group col-md-offset-3">
                    <label class="col-form-label">::R6::</label>
                    <div class="col-md-10 col-md-offset-1 input-group">
                        <input type="number" value="" class="form-control" id="r6" placeholder="R6" />
                        <span class="input-group-addon">
                            <select class="" id="r6-unidad">
                                <option selected value="1">Ω</option>
                                <option value="1000">kΩ</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <p>I1</p>
                <div class="form-group">
                    <label class="col-form-label">::I1::</label>
                    <div class="input-group">
                        <p class="form-control show" id="i1"></p>
                        <span class="input-group-addon">A</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <p>I2</p>
                <div class="form-group">
                    <label class="col-form-label">::I2::</label>
                    <div class="input-group">
                        <p class="form-control show" id="i2"></p>
                        <span class="input-group-addon">A</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <p>I3</p>
                <div class="form-group">
                    <label class="col-form-label">::I3::</label>
                    <div class="input-group">
                        <p class="form-control show" id="i3"></p>
                        <span class="input-group-addon">A</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-10 text-justify">
                <p class="show">
                    Lista de Integrantes:
                    <ul>
                        <li>Junior Lujan</li>
                        <li>Raul Miranda</li>
                        <li>Carlos Avalos</li>
                        <li>Dustin Mimbela</li>
                        <li>Joshe Villacorta</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-2"></div>
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            console.log("ready");
            //$('#medio').on("change", function () {
            //    var _medio = $('#medio option:selected').val();
            //    //alert(_medio);
            //    $('#constE').text(_medio);
            //    //funciona
            //});

            $('#submitForm').on("click", function () {
                var r1 = $('#r1').val();
                var r1_u = $('#r1-unidad option:selected').val();
                var r2 = $('#r2').val();
                var r2_u = $('#r2-unidad option:selected').val();
                var r3 = $('#r3').val();
                var r3_u = $('#r3-unidad option:selected').val();
                var r4 = $('#r4').val();
                var r4_u = $('#r4-unidad option:selected').val();
                var r5 = $('#r5').val();
                var r5_u = $('#r5-unidad option:selected').val();
                var r6 = $('#r6').val();
                var r6_u = $('#r6-unidad option:selected').val();
                var r7 = $('#r7').val();
                var r7_u = $('#r7-unidad option:selected').val();

                var v1 = $('#v1').val();
                var v2 = $('#v2').val();
                var v3 = $('#v3').val();

                //TEAM, DESARROLLEN LA LÓGICA PARA CALCULAR LAS INTENSIDADES DE CADA MALLA

                var s = [(r1 * r1_u + r3 * r3_u + r7 * r7_u) * (-r2 * r2_u - r3 * r3_u + r4 * r4_u) * (-r4 * r4_u - r5 * r5_u - r6 * r6_u)] -
                    [(r4 * r4_u) * (r4 * r4_u) * (r1 * r1_u + r3 * r3_u + r7 * r7_u) + (-r4 * r4_u - r5 * r5_u - r6 * r6_u) * (-r3 * r3_u) * (r3 * r3_u)];

                var i1 = [(v1) * (-r2 * r2_u - r3 * r3_u + r4 * r4_u) * (-r4 * r4_u - r5 * r5_u - r6 * r6_u) + (-r3 * r3_u) * (r4 * r4_u) * v3] - [(v1 * (r4 * r4_u) * (r4 * r4_u)) + (-r3 * r3_u) * v2 * (-r4 * r4_u - r5 * r5_u - r6 * r6_u)];
                var i2 = [(r1 * r1_u + r3 * r3_u + r7 * r7_u) * v3 * (-r4 * r4_u - r5 * r5_u - r6 * r6_u)] - [(r4 * r4_u) * v3 * (r1 * r1_u + r3 * r3_u + r7 * r7_u) + (-r4 * r4_u - r5 * r5_u - r6 * r6_u) * v1 * (r3 * r3_u)];
                var i3 = [(r1 * r1_u + r3 * r3_u + r7 * r7_u) * (-r2 * r2_u - r3 * r3_u + r4 * r4_u) * v3 + v1 * (r3 * r3_u) * (r4 * r4_u)] - [(r1 * r1_u + r3 * r3_u + r7 * r7_u) * v2 * (r4 * r4_u) + (-r3 * r3_u) * (r3 * r3_u) * v3];

                var int1 = (i1 / s).toFixed(2);
                var int2 = (i2 / s).toFixed(2);
                var int3 = (i3 / s).toFixed(2);

                $('#i1').text(int1);
                $('#i2').text(int2);
                $('#i3').text(int3);
            });
        });
    </script>
</body>
</html>
